.lined {
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    background-color: #fff;
    border-color: #ccc;
    line-height: 16px;
}